body{
    background-color: rgb(250, 248, 248);
}
.princ{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;


    background-color: rgba(255, 255, 255, 0.253);
}
.container{
    /* background-color: rgb(211, 185, 185); */
}
.text{
    color: rgb(24, 24, 24);
    /* font-size: 4.3em; */
    padding: 10px;
}